:root {
    --light-theme: #f3feff;
    --fonts-style-x: 'neuzeit-grotesk', sans-serif;
    --fonts-style-y: 'neuzeit-grotesk', sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --black: 900;

}

html,
body {
    box-sizing: border-box;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #ffffffee;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 240px;
    background-color: #f3feff;
}

::selection {
    color: #fff;
    background-color: #f3feff;
}

.btn-section {
    display: flex;
    padding: 20px;
}

.btn-section button {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: 400ms;
  
    animation: zoom 500ms ease;
}

.btn-section button i {
    position: absolute;
    font-size: 1.5em;
    transition: 400ms;
}

.btn-section .btn-fb {
    background-color: #ecf0f8bb;
    color: #3b5998;
}

.btn-section .btn-tw {
    background-color: #e5f4fdbb;
    color: #1da1f2;
}

.btn-section .btn-ig {
    background-color: #f4ecf9bb;
    color: #833ab4;
}

.btn-section .btn-cp {
    background-color: #ebfaf0bb;
    color: #47cf73;
}

.btn-section .first-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.btn-section .second-logo {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.btn-section button:hover .first-logo {
    position: absolute;
    top: -30px;
    opacity: 0;
}

.btn-section button:hover .second-logo {
    top: 50%;
    opacity: 1;
}

.btn-section button:active {
    background-color: #ffffff00;
}


@keyframes zoom {
  
}