@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(18vw, 87vh, 23px);
            transform: translate3d(18vw, 87vh, 23px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(18vw, 87vh, 23px);
            transform: translate3d(18vw, 87vh, 23px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.92;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  background-color: #a926d9;
  -webkit-transform: translate3d(53vw, 8vh, 13px);
          transform: translate3d(53vw, 8vh, 13px);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(23vw, 73vh, 92px);
            transform: translate3d(23vw, 73vh, 92px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(23vw, 73vh, 92px);
            transform: translate3d(23vw, 73vh, 92px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.76;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background-color: #2694d9;
  -webkit-transform: translate3d(57vw, 22vh, 44px);
          transform: translate3d(57vw, 22vh, 44px);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(87vw, 56vh, 30px);
            transform: translate3d(87vw, 56vh, 30px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(87vw, 56vh, 30px);
            transform: translate3d(87vw, 56vh, 30px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.86;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  background-color: #26bbd9;
  -webkit-transform: translate3d(47vw, 52vh, 52px);
          transform: translate3d(47vw, 52vh, 52px);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(77vw, 51vh, 6px);
            transform: translate3d(77vw, 51vh, 6px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(77vw, 51vh, 6px);
            transform: translate3d(77vw, 51vh, 6px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.7;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  background-color: #4426d9;
  -webkit-transform: translate3d(29vw, 47vh, 1px);
          transform: translate3d(29vw, 47vh, 1px);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(61vw, 60vh, 84px);
            transform: translate3d(61vw, 60vh, 84px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(61vw, 60vh, 84px);
            transform: translate3d(61vw, 60vh, 84px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  background-color: #26d92f;
  -webkit-transform: translate3d(5vw, 7vh, 45px);
          transform: translate3d(5vw, 7vh, 45px);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(40vw, 76vh, 34px);
            transform: translate3d(40vw, 76vh, 34px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(40vw, 76vh, 34px);
            transform: translate3d(40vw, 76vh, 34px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.23;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  background-color: #26d938;
  -webkit-transform: translate3d(45vw, 51vh, 76px);
          transform: translate3d(45vw, 51vh, 76px);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(30vw, 44vh, 33px);
            transform: translate3d(30vw, 44vh, 33px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(30vw, 44vh, 33px);
            transform: translate3d(30vw, 44vh, 33px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.09;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  background-color: #2697d9;
  -webkit-transform: translate3d(22vw, 64vh, 38px);
          transform: translate3d(22vw, 64vh, 38px);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(70vw, 65vh, 87px);
            transform: translate3d(70vw, 65vh, 87px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(70vw, 65vh, 87px);
            transform: translate3d(70vw, 65vh, 87px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.88;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  background-color: #4ad926;
  -webkit-transform: translate3d(39vw, 27vh, 50px);
          transform: translate3d(39vw, 27vh, 50px);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(19vw, 62vh, 16px);
            transform: translate3d(19vw, 62vh, 16px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(19vw, 62vh, 16px);
            transform: translate3d(19vw, 62vh, 16px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.93;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  background-color: #d926ca;
  -webkit-transform: translate3d(43vw, 40vh, 49px);
          transform: translate3d(43vw, 40vh, 49px);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(82vw, 68vh, 45px);
            transform: translate3d(82vw, 68vh, 45px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(82vw, 68vh, 45px);
            transform: translate3d(82vw, 68vh, 45px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.15;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  background-color: #32d926;
  -webkit-transform: translate3d(71vw, 42vh, 31px);
          transform: translate3d(71vw, 42vh, 31px);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(16vw, 7vh, 75px);
            transform: translate3d(16vw, 7vh, 75px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(16vw, 7vh, 75px);
            transform: translate3d(16vw, 7vh, 75px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.03;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  background-color: #8b26d9;
  -webkit-transform: translate3d(90vw, 38vh, 31px);
          transform: translate3d(90vw, 38vh, 31px);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(21vw, 42vh, 60px);
            transform: translate3d(21vw, 42vh, 60px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(21vw, 42vh, 60px);
            transform: translate3d(21vw, 42vh, 60px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.55;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  background-color: #8bd926;
  -webkit-transform: translate3d(14vw, 22vh, 93px);
          transform: translate3d(14vw, 22vh, 93px);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(86vw, 45vh, 53px);
            transform: translate3d(86vw, 45vh, 53px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(86vw, 45vh, 53px);
            transform: translate3d(86vw, 45vh, 53px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.39;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  background-color: #d92685;
  -webkit-transform: translate3d(33vw, 65vh, 32px);
          transform: translate3d(33vw, 65vh, 32px);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(10vw, 89vh, 62px);
            transform: translate3d(10vw, 89vh, 62px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(10vw, 89vh, 62px);
            transform: translate3d(10vw, 89vh, 62px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.89;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  background-color: #d92629;
  -webkit-transform: translate3d(34vw, 20vh, 64px);
          transform: translate3d(34vw, 20vh, 64px);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(11vw, 61vh, 43px);
            transform: translate3d(11vw, 61vh, 43px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(11vw, 61vh, 43px);
            transform: translate3d(11vw, 61vh, 43px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.01;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  background-color: #af26d9;
  -webkit-transform: translate3d(11vw, 76vh, 5px);
          transform: translate3d(11vw, 76vh, 5px);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(12vw, 63vh, 84px);
            transform: translate3d(12vw, 63vh, 84px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(12vw, 63vh, 84px);
            transform: translate3d(12vw, 63vh, 84px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.06;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  background-color: #26b2d9;
  -webkit-transform: translate3d(23vw, 82vh, 58px);
          transform: translate3d(23vw, 82vh, 58px);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(31vw, 17vh, 21px);
            transform: translate3d(31vw, 17vh, 21px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(31vw, 17vh, 21px);
            transform: translate3d(31vw, 17vh, 21px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.24;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  background-color: #26c4d9;
  -webkit-transform: translate3d(64vw, 60vh, 73px);
          transform: translate3d(64vw, 60vh, 73px);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(49vw, 61vh, 16px);
            transform: translate3d(49vw, 61vh, 16px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(49vw, 61vh, 16px);
            transform: translate3d(49vw, 61vh, 16px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.14;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  background-color: #26d935;
  -webkit-transform: translate3d(81vw, 38vh, 48px);
          transform: translate3d(81vw, 38vh, 48px);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(81vw, 54vh, 47px);
            transform: translate3d(81vw, 54vh, 47px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(81vw, 54vh, 47px);
            transform: translate3d(81vw, 54vh, 47px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.03;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  background-color: #68d926;
  -webkit-transform: translate3d(49vw, 1vh, 41px);
          transform: translate3d(49vw, 1vh, 41px);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(21vw, 72vh, 73px);
            transform: translate3d(21vw, 72vh, 73px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(21vw, 72vh, 73px);
            transform: translate3d(21vw, 72vh, 73px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.95;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  background-color: #d92635;
  -webkit-transform: translate3d(67vw, 37vh, 98px);
          transform: translate3d(67vw, 37vh, 98px);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(56vw, 3vh, 21px);
            transform: translate3d(56vw, 3vh, 21px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(56vw, 3vh, 21px);
            transform: translate3d(56vw, 3vh, 21px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.47;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  background-color: #d926ac;
  -webkit-transform: translate3d(54vw, 21vh, 44px);
          transform: translate3d(54vw, 21vh, 44px);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(21vw, 88vh, 17px);
            transform: translate3d(21vw, 88vh, 17px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(21vw, 88vh, 17px);
            transform: translate3d(21vw, 88vh, 17px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.86;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  background-color: #267dd9;
  -webkit-transform: translate3d(13vw, 66vh, 36px);
          transform: translate3d(13vw, 66vh, 36px);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(78vw, 58vh, 4px);
            transform: translate3d(78vw, 58vh, 4px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(78vw, 58vh, 4px);
            transform: translate3d(78vw, 58vh, 4px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.62;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  background-color: #d9267a;
  -webkit-transform: translate3d(75vw, 39vh, 65px);
          transform: translate3d(75vw, 39vh, 65px);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(7vw, 6vh, 52px);
            transform: translate3d(7vw, 6vh, 52px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(7vw, 6vh, 52px);
            transform: translate3d(7vw, 6vh, 52px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.75;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  background-color: #d926ac;
  -webkit-transform: translate3d(10vw, 19vh, 34px);
          transform: translate3d(10vw, 19vh, 34px);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 10vh, 5px);
            transform: translate3d(8vw, 10vh, 5px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 10vh, 5px);
            transform: translate3d(8vw, 10vh, 5px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.3;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  background-color: #26c1d9;
  -webkit-transform: translate3d(16vw, 20vh, 23px);
          transform: translate3d(16vw, 20vh, 23px);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(27vw, 84vh, 89px);
            transform: translate3d(27vw, 84vh, 89px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(27vw, 84vh, 89px);
            transform: translate3d(27vw, 84vh, 89px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.25;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  background-color: #d96826;
  -webkit-transform: translate3d(35vw, 47vh, 4px);
          transform: translate3d(35vw, 47vh, 4px);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(25vw, 60vh, 67px);
            transform: translate3d(25vw, 60vh, 67px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(25vw, 60vh, 67px);
            transform: translate3d(25vw, 60vh, 67px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.61;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  background-color: #26a9d9;
  -webkit-transform: translate3d(11vw, 22vh, 18px);
          transform: translate3d(11vw, 22vh, 18px);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(83vw, 26vh, 4px);
            transform: translate3d(83vw, 26vh, 4px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(83vw, 26vh, 4px);
            transform: translate3d(83vw, 26vh, 4px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.58;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  background-color: #2635d9;
  -webkit-transform: translate3d(90vw, 53vh, 87px);
          transform: translate3d(90vw, 53vh, 87px);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(44vw, 16vh, 83px);
            transform: translate3d(44vw, 16vh, 83px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(44vw, 16vh, 83px);
            transform: translate3d(44vw, 16vh, 83px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.53;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  background-color: #d92668;
  -webkit-transform: translate3d(43vw, 32vh, 69px);
          transform: translate3d(43vw, 32vh, 69px);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(16vw, 40vh, 42px);
            transform: translate3d(16vw, 40vh, 42px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(16vw, 40vh, 42px);
            transform: translate3d(16vw, 40vh, 42px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.75;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  background-color: #a6d926;
  -webkit-transform: translate3d(33vw, 9vh, 86px);
          transform: translate3d(33vw, 9vh, 86px);
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(59vw, 6vh, 86px);
            transform: translate3d(59vw, 6vh, 86px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(59vw, 6vh, 86px);
            transform: translate3d(59vw, 6vh, 86px);
  }
}

.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 60s infinite;
          animation: particle-animation-31 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.59;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  background-color: #65d926;
  -webkit-transform: translate3d(41vw, 3vh, 81px);
          transform: translate3d(41vw, 3vh, 81px);
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(1vw, 84vh, 68px);
            transform: translate3d(1vw, 84vh, 68px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(1vw, 84vh, 68px);
            transform: translate3d(1vw, 84vh, 68px);
  }
}

.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 60s infinite;
          animation: particle-animation-32 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.66;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  background-color: #d92674;
  -webkit-transform: translate3d(71vw, 15vh, 56px);
          transform: translate3d(71vw, 15vh, 56px);
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(48vw, 34vh, 72px);
            transform: translate3d(48vw, 34vh, 72px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(48vw, 34vh, 72px);
            transform: translate3d(48vw, 34vh, 72px);
  }
}

.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 60s infinite;
          animation: particle-animation-33 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.64;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  background-color: #5326d9;
  -webkit-transform: translate3d(85vw, 36vh, 73px);
          transform: translate3d(85vw, 36vh, 73px);
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(77vw, 12vh, 34px);
            transform: translate3d(77vw, 12vh, 34px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(77vw, 12vh, 34px);
            transform: translate3d(77vw, 12vh, 34px);
  }
}

.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 60s infinite;
          animation: particle-animation-34 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.9;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  background-color: #3bd926;
  -webkit-transform: translate3d(39vw, 77vh, 75px);
          transform: translate3d(39vw, 77vh, 75px);
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(10vw, 81vh, 46px);
            transform: translate3d(10vw, 81vh, 46px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(10vw, 81vh, 46px);
            transform: translate3d(10vw, 81vh, 46px);
  }
}

.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 60s infinite;
          animation: particle-animation-35 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.69;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  background-color: #d92674;
  -webkit-transform: translate3d(65vw, 21vh, 47px);
          transform: translate3d(65vw, 21vh, 47px);
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(35vw, 6vh, 10px);
            transform: translate3d(35vw, 6vh, 10px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(35vw, 6vh, 10px);
            transform: translate3d(35vw, 6vh, 10px);
  }
}

.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 60s infinite;
          animation: particle-animation-36 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.11;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  background-color: #d9d026;
  -webkit-transform: translate3d(56vw, 26vh, 68px);
          transform: translate3d(56vw, 26vh, 68px);
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(4vw, 50vh, 84px);
            transform: translate3d(4vw, 50vh, 84px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(4vw, 50vh, 84px);
            transform: translate3d(4vw, 50vh, 84px);
  }
}

.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 60s infinite;
          animation: particle-animation-37 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.7;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  background-color: #6bd926;
  -webkit-transform: translate3d(36vw, 64vh, 22px);
          transform: translate3d(36vw, 64vh, 22px);
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(15vw, 35vh, 31px);
            transform: translate3d(15vw, 35vh, 31px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(15vw, 35vh, 31px);
            transform: translate3d(15vw, 35vh, 31px);
  }
}

.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 60s infinite;
          animation: particle-animation-38 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.44;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  background-color: #26a0d9;
  -webkit-transform: translate3d(75vw, 38vh, 13px);
          transform: translate3d(75vw, 38vh, 13px);
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(75vw, 86vh, 10px);
            transform: translate3d(75vw, 86vh, 10px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(75vw, 86vh, 10px);
            transform: translate3d(75vw, 86vh, 10px);
  }
}

.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 60s infinite;
          animation: particle-animation-39 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.84;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  background-color: #91d926;
  -webkit-transform: translate3d(20vw, 15vh, 6px);
          transform: translate3d(20vw, 15vh, 6px);
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(28vw, 73vh, 93px);
            transform: translate3d(28vw, 73vh, 93px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(28vw, 73vh, 93px);
            transform: translate3d(28vw, 73vh, 93px);
  }
}

.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 60s infinite;
          animation: particle-animation-40 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.21;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  background-color: #4dd926;
  -webkit-transform: translate3d(50vw, 13vh, 12px);
          transform: translate3d(50vw, 13vh, 12px);
}

@-webkit-keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(39vw, 46vh, 98px);
            transform: translate3d(39vw, 46vh, 98px);
  }
}

@keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(39vw, 46vh, 98px);
            transform: translate3d(39vw, 46vh, 98px);
  }
}

.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 60s infinite;
          animation: particle-animation-41 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.13;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  background-color: #26c1d9;
  -webkit-transform: translate3d(60vw, 34vh, 36px);
          transform: translate3d(60vw, 34vh, 36px);
}

@-webkit-keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(75vw, 62vh, 28px);
            transform: translate3d(75vw, 62vh, 28px);
  }
}

@keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(75vw, 62vh, 28px);
            transform: translate3d(75vw, 62vh, 28px);
  }
}

.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 60s infinite;
          animation: particle-animation-42 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.93;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  background-color: #a0d926;
  -webkit-transform: translate3d(33vw, 29vh, 94px);
          transform: translate3d(33vw, 29vh, 94px);
}

@-webkit-keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(16vw, 46vh, 93px);
            transform: translate3d(16vw, 46vh, 93px);
  }
}

@keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(16vw, 46vh, 93px);
            transform: translate3d(16vw, 46vh, 93px);
  }
}

.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 60s infinite;
          animation: particle-animation-43 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.48;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  background-color: #d92659;
  -webkit-transform: translate3d(82vw, 69vh, 49px);
          transform: translate3d(82vw, 69vh, 49px);
}

@-webkit-keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(80vw, 67vh, 27px);
            transform: translate3d(80vw, 67vh, 27px);
  }
}

@keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(80vw, 67vh, 27px);
            transform: translate3d(80vw, 67vh, 27px);
  }
}

.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 60s infinite;
          animation: particle-animation-44 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.19;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  background-color: #d95c26;
  -webkit-transform: translate3d(61vw, 80vh, 69px);
          transform: translate3d(61vw, 80vh, 69px);
}

@-webkit-keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(53vw, 80vh, 41px);
            transform: translate3d(53vw, 80vh, 41px);
  }
}

@keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(53vw, 80vh, 41px);
            transform: translate3d(53vw, 80vh, 41px);
  }
}

.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 60s infinite;
          animation: particle-animation-45 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.39;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  background-color: #6826d9;
  -webkit-transform: translate3d(37vw, 87vh, 58px);
          transform: translate3d(37vw, 87vh, 58px);
}

@-webkit-keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(50vw, 82vh, 81px);
            transform: translate3d(50vw, 82vh, 81px);
  }
}

@keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(50vw, 82vh, 81px);
            transform: translate3d(50vw, 82vh, 81px);
  }
}

.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 60s infinite;
          animation: particle-animation-46 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.5;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  background-color: #d9d626;
  -webkit-transform: translate3d(69vw, 83vh, 39px);
          transform: translate3d(69vw, 83vh, 39px);
}

@-webkit-keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(1vw, 57vh, 74px);
            transform: translate3d(1vw, 57vh, 74px);
  }
}

@keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(1vw, 57vh, 74px);
            transform: translate3d(1vw, 57vh, 74px);
  }
}

.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 60s infinite;
          animation: particle-animation-47 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.45;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  background-color: #d9263b;
  -webkit-transform: translate3d(12vw, 35vh, 91px);
          transform: translate3d(12vw, 35vh, 91px);
}

@-webkit-keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(43vw, 58vh, 85px);
            transform: translate3d(43vw, 58vh, 85px);
  }
}

@keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(43vw, 58vh, 85px);
            transform: translate3d(43vw, 58vh, 85px);
  }
}

.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 60s infinite;
          animation: particle-animation-48 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.85;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  background-color: #26d959;
  -webkit-transform: translate3d(37vw, 44vh, 41px);
          transform: translate3d(37vw, 44vh, 41px);
}

@-webkit-keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(22vw, 60vh, 35px);
            transform: translate3d(22vw, 60vh, 35px);
  }
}

@keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(22vw, 60vh, 35px);
            transform: translate3d(22vw, 60vh, 35px);
  }
}

.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 60s infinite;
          animation: particle-animation-49 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.24;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  background-color: #26d9d6;
  -webkit-transform: translate3d(65vw, 70vh, 56px);
          transform: translate3d(65vw, 70vh, 56px);
}

@-webkit-keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(83vw, 39vh, 79px);
            transform: translate3d(83vw, 39vh, 79px);
  }
}

@keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(83vw, 39vh, 79px);
            transform: translate3d(83vw, 39vh, 79px);
  }
}

.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 60s infinite;
          animation: particle-animation-50 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.32;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  background-color: #d93226;
  -webkit-transform: translate3d(90vw, 27vh, 63px);
          transform: translate3d(90vw, 27vh, 63px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */