@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(72vw, 11vh, 66px);
            transform: translate3d(72vw, 11vh, 66px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(72vw, 11vh, 66px);
            transform: translate3d(72vw, 11vh, 66px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.7;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  background-color: #26d9af;
  -webkit-transform: translate3d(57vw, 54vh, 6px);
          transform: translate3d(57vw, 54vh, 6px);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(18vw, 67vh, 54px);
            transform: translate3d(18vw, 67vh, 54px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(18vw, 67vh, 54px);
            transform: translate3d(18vw, 67vh, 54px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.86;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background-color: #d95326;
  -webkit-transform: translate3d(19vw, 73vh, 49px);
          transform: translate3d(19vw, 73vh, 49px);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(86vw, 27vh, 87px);
            transform: translate3d(86vw, 27vh, 87px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(86vw, 27vh, 87px);
            transform: translate3d(86vw, 27vh, 87px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.15;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  background-color: #2691d9;
  -webkit-transform: translate3d(70vw, 25vh, 54px);
          transform: translate3d(70vw, 25vh, 54px);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(61vw, 70vh, 15px);
            transform: translate3d(61vw, 70vh, 15px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(61vw, 70vh, 15px);
            transform: translate3d(61vw, 70vh, 15px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.12;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  background-color: #26d97a;
  -webkit-transform: translate3d(87vw, 28vh, 74px);
          transform: translate3d(87vw, 28vh, 74px);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(24vw, 4vh, 58px);
            transform: translate3d(24vw, 4vh, 58px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(24vw, 4vh, 58px);
            transform: translate3d(24vw, 4vh, 58px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.91;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  background-color: #26d99d;
  -webkit-transform: translate3d(81vw, 5vh, 21px);
          transform: translate3d(81vw, 5vh, 21px);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(80vw, 14vh, 29px);
            transform: translate3d(80vw, 14vh, 29px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(80vw, 14vh, 29px);
            transform: translate3d(80vw, 14vh, 29px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.56;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  background-color: #26d9b2;
  -webkit-transform: translate3d(21vw, 77vh, 65px);
          transform: translate3d(21vw, 77vh, 65px);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(59vw, 25vh, 24px);
            transform: translate3d(59vw, 25vh, 24px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(59vw, 25vh, 24px);
            transform: translate3d(59vw, 25vh, 24px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.85;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  background-color: #26d94a;
  -webkit-transform: translate3d(7vw, 29vh, 4px);
          transform: translate3d(7vw, 29vh, 4px);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(87vw, 46vh, 44px);
            transform: translate3d(87vw, 46vh, 44px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(87vw, 46vh, 44px);
            transform: translate3d(87vw, 46vh, 44px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.29;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  background-color: #26d93e;
  -webkit-transform: translate3d(48vw, 28vh, 72px);
          transform: translate3d(48vw, 28vh, 72px);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(9vw, 7vh, 66px);
            transform: translate3d(9vw, 7vh, 66px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(9vw, 7vh, 66px);
            transform: translate3d(9vw, 7vh, 66px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 1;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  background-color: #d92671;
  -webkit-transform: translate3d(1vw, 52vh, 93px);
          transform: translate3d(1vw, 52vh, 93px);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(5vw, 27vh, 30px);
            transform: translate3d(5vw, 27vh, 30px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(5vw, 27vh, 30px);
            transform: translate3d(5vw, 27vh, 30px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.38;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  background-color: #d926a0;
  -webkit-transform: translate3d(5vw, 19vh, 3px);
          transform: translate3d(5vw, 19vh, 3px);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(59vw, 32vh, 4px);
            transform: translate3d(59vw, 32vh, 4px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(59vw, 32vh, 4px);
            transform: translate3d(59vw, 32vh, 4px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.45;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  background-color: #2f26d9;
  -webkit-transform: translate3d(20vw, 68vh, 69px);
          transform: translate3d(20vw, 68vh, 69px);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(14vw, 54vh, 4px);
            transform: translate3d(14vw, 54vh, 4px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(14vw, 54vh, 4px);
            transform: translate3d(14vw, 54vh, 4px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.95;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  background-color: #26d9a9;
  -webkit-transform: translate3d(35vw, 15vh, 33px);
          transform: translate3d(35vw, 15vh, 33px);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(29vw, 18vh, 67px);
            transform: translate3d(29vw, 18vh, 67px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(29vw, 18vh, 67px);
            transform: translate3d(29vw, 18vh, 67px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.1;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  background-color: #26a9d9;
  -webkit-transform: translate3d(16vw, 12vh, 88px);
          transform: translate3d(16vw, 12vh, 88px);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(77vw, 67vh, 14px);
            transform: translate3d(77vw, 67vh, 14px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(77vw, 67vh, 14px);
            transform: translate3d(77vw, 67vh, 14px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.06;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  background-color: #d9269d;
  -webkit-transform: translate3d(1vw, 49vh, 63px);
          transform: translate3d(1vw, 49vh, 63px);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(77vw, 22vh, 93px);
            transform: translate3d(77vw, 22vh, 93px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(77vw, 22vh, 93px);
            transform: translate3d(77vw, 22vh, 93px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.33;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  background-color: #44d926;
  -webkit-transform: translate3d(33vw, 50vh, 90px);
          transform: translate3d(33vw, 50vh, 90px);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(79vw, 87vh, 49px);
            transform: translate3d(79vw, 87vh, 49px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(79vw, 87vh, 49px);
            transform: translate3d(79vw, 87vh, 49px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.53;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  background-color: #2656d9;
  -webkit-transform: translate3d(89vw, 41vh, 76px);
          transform: translate3d(89vw, 41vh, 76px);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(58vw, 23vh, 100px);
            transform: translate3d(58vw, 23vh, 100px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(58vw, 23vh, 100px);
            transform: translate3d(58vw, 23vh, 100px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.2;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  background-color: #2626d9;
  -webkit-transform: translate3d(36vw, 47vh, 74px);
          transform: translate3d(36vw, 47vh, 74px);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(80vw, 45vh, 38px);
            transform: translate3d(80vw, 45vh, 38px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(80vw, 45vh, 38px);
            transform: translate3d(80vw, 45vh, 38px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.88;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  background-color: #267dd9;
  -webkit-transform: translate3d(59vw, 46vh, 59px);
          transform: translate3d(59vw, 46vh, 59px);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(75vw, 45vh, 86px);
            transform: translate3d(75vw, 45vh, 86px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(75vw, 45vh, 86px);
            transform: translate3d(75vw, 45vh, 86px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.5;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  background-color: #263bd9;
  -webkit-transform: translate3d(90vw, 50vh, 81px);
          transform: translate3d(90vw, 50vh, 81px);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(30vw, 6vh, 19px);
            transform: translate3d(30vw, 6vh, 19px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(30vw, 6vh, 19px);
            transform: translate3d(30vw, 6vh, 19px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.78;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  background-color: #d9263b;
  -webkit-transform: translate3d(50vw, 14vh, 43px);
          transform: translate3d(50vw, 14vh, 43px);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(33vw, 26vh, 22px);
            transform: translate3d(33vw, 26vh, 22px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(33vw, 26vh, 22px);
            transform: translate3d(33vw, 26vh, 22px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.45;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  background-color: #d94726;
  -webkit-transform: translate3d(45vw, 50vh, 34px);
          transform: translate3d(45vw, 50vh, 34px);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(51vw, 42vh, 41px);
            transform: translate3d(51vw, 42vh, 41px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(51vw, 42vh, 41px);
            transform: translate3d(51vw, 42vh, 41px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.02;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  background-color: #d92926;
  -webkit-transform: translate3d(28vw, 31vh, 81px);
          transform: translate3d(28vw, 31vh, 81px);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(39vw, 24vh, 20px);
            transform: translate3d(39vw, 24vh, 20px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(39vw, 24vh, 20px);
            transform: translate3d(39vw, 24vh, 20px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.81;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  background-color: #d9269d;
  -webkit-transform: translate3d(68vw, 48vh, 39px);
          transform: translate3d(68vw, 48vh, 39px);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(13vw, 87vh, 90px);
            transform: translate3d(13vw, 87vh, 90px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(13vw, 87vh, 90px);
            transform: translate3d(13vw, 87vh, 90px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.87;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  background-color: #d92629;
  -webkit-transform: translate3d(53vw, 51vh, 71px);
          transform: translate3d(53vw, 51vh, 71px);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(38vw, 69vh, 37px);
            transform: translate3d(38vw, 69vh, 37px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(38vw, 69vh, 37px);
            transform: translate3d(38vw, 69vh, 37px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.36;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  background-color: #26d9af;
  -webkit-transform: translate3d(74vw, 90vh, 33px);
          transform: translate3d(74vw, 90vh, 33px);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(12vw, 38vh, 10px);
            transform: translate3d(12vw, 38vh, 10px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(12vw, 38vh, 10px);
            transform: translate3d(12vw, 38vh, 10px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.15;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  background-color: #26d95f;
  -webkit-transform: translate3d(77vw, 22vh, 96px);
          transform: translate3d(77vw, 22vh, 96px);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(69vw, 48vh, 56px);
            transform: translate3d(69vw, 48vh, 56px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(69vw, 48vh, 56px);
            transform: translate3d(69vw, 48vh, 56px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.29;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  background-color: #4126d9;
  -webkit-transform: translate3d(12vw, 43vh, 6px);
          transform: translate3d(12vw, 43vh, 6px);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(16vw, 56vh, 48px);
            transform: translate3d(16vw, 56vh, 48px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(16vw, 56vh, 48px);
            transform: translate3d(16vw, 56vh, 48px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.65;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  background-color: #26d971;
  -webkit-transform: translate3d(75vw, 71vh, 92px);
          transform: translate3d(75vw, 71vh, 92px);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(3vw, 45vh, 37px);
            transform: translate3d(3vw, 45vh, 37px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(3vw, 45vh, 37px);
            transform: translate3d(3vw, 45vh, 37px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.21;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  background-color: #d9267d;
  -webkit-transform: translate3d(31vw, 51vh, 6px);
          transform: translate3d(31vw, 51vh, 6px);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(24vw, 53vh, 45px);
            transform: translate3d(24vw, 53vh, 45px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(24vw, 53vh, 45px);
            transform: translate3d(24vw, 53vh, 45px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.19;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  background-color: #d92668;
  -webkit-transform: translate3d(22vw, 66vh, 100px);
          transform: translate3d(22vw, 66vh, 100px);
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(2vw, 32vh, 9px);
            transform: translate3d(2vw, 32vh, 9px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(2vw, 32vh, 9px);
            transform: translate3d(2vw, 32vh, 9px);
  }
}

.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 60s infinite;
          animation: particle-animation-31 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.53;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  background-color: #38d926;
  -webkit-transform: translate3d(15vw, 37vh, 30px);
          transform: translate3d(15vw, 37vh, 30px);
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(75vw, 39vh, 38px);
            transform: translate3d(75vw, 39vh, 38px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(75vw, 39vh, 38px);
            transform: translate3d(75vw, 39vh, 38px);
  }
}

.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 60s infinite;
          animation: particle-animation-32 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.89;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  background-color: #3226d9;
  -webkit-transform: translate3d(35vw, 78vh, 8px);
          transform: translate3d(35vw, 78vh, 8px);
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(12vw, 11vh, 89px);
            transform: translate3d(12vw, 11vh, 89px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(12vw, 11vh, 89px);
            transform: translate3d(12vw, 11vh, 89px);
  }
}

.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 60s infinite;
          animation: particle-animation-33 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.71;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  background-color: #9ad926;
  -webkit-transform: translate3d(26vw, 38vh, 82px);
          transform: translate3d(26vw, 38vh, 82px);
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(14vw, 77vh, 98px);
            transform: translate3d(14vw, 77vh, 98px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(14vw, 77vh, 98px);
            transform: translate3d(14vw, 77vh, 98px);
  }
}

.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 60s infinite;
          animation: particle-animation-34 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.89;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  background-color: #2641d9;
  -webkit-transform: translate3d(36vw, 73vh, 33px);
          transform: translate3d(36vw, 73vh, 33px);
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(42vw, 33vh, 12px);
            transform: translate3d(42vw, 33vh, 12px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(42vw, 33vh, 12px);
            transform: translate3d(42vw, 33vh, 12px);
  }
}

.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 60s infinite;
          animation: particle-animation-35 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.22;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  background-color: #26d9bb;
  -webkit-transform: translate3d(69vw, 23vh, 72px);
          transform: translate3d(69vw, 23vh, 72px);
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(32vw, 41vh, 23px);
            transform: translate3d(32vw, 41vh, 23px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(32vw, 41vh, 23px);
            transform: translate3d(32vw, 41vh, 23px);
  }
}

.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 60s infinite;
          animation: particle-animation-36 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.6;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  background-color: #26d944;
  -webkit-transform: translate3d(5vw, 74vh, 27px);
          transform: translate3d(5vw, 74vh, 27px);
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(19vw, 59vh, 46px);
            transform: translate3d(19vw, 59vh, 46px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(19vw, 59vh, 46px);
            transform: translate3d(19vw, 59vh, 46px);
  }
}

.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 60s infinite;
          animation: particle-animation-37 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.37;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  background-color: #d9265f;
  -webkit-transform: translate3d(78vw, 26vh, 49px);
          transform: translate3d(78vw, 26vh, 49px);
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(84vw, 48vh, 32px);
            transform: translate3d(84vw, 48vh, 32px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(84vw, 48vh, 32px);
            transform: translate3d(84vw, 48vh, 32px);
  }
}

.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 60s infinite;
          animation: particle-animation-38 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.94;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  background-color: #9126d9;
  -webkit-transform: translate3d(32vw, 29vh, 72px);
          transform: translate3d(32vw, 29vh, 72px);
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(13vw, 18vh, 97px);
            transform: translate3d(13vw, 18vh, 97px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(13vw, 18vh, 97px);
            transform: translate3d(13vw, 18vh, 97px);
  }
}

.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 60s infinite;
          animation: particle-animation-39 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.59;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  background-color: #26d99d;
  -webkit-transform: translate3d(85vw, 56vh, 88px);
          transform: translate3d(85vw, 56vh, 88px);
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(55vw, 88vh, 11px);
            transform: translate3d(55vw, 88vh, 11px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(55vw, 88vh, 11px);
            transform: translate3d(55vw, 88vh, 11px);
  }
}

.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 60s infinite;
          animation: particle-animation-40 60s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.49;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  background-color: #26d98e;
  -webkit-transform: translate3d(76vw, 25vh, 48px);
          transform: translate3d(76vw, 25vh, 48px);
}

@-webkit-keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(65vw, 64vh, 69px);
            transform: translate3d(65vw, 64vh, 69px);
  }
}

@keyframes particle-animation-41 {
  100% {
    -webkit-transform: translate3d(65vw, 64vh, 69px);
            transform: translate3d(65vw, 64vh, 69px);
  }
}

.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 60s infinite;
          animation: particle-animation-41 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.86;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  background-color: #26d9ca;
  -webkit-transform: translate3d(42vw, 67vh, 96px);
          transform: translate3d(42vw, 67vh, 96px);
}

@-webkit-keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(80vw, 31vh, 76px);
            transform: translate3d(80vw, 31vh, 76px);
  }
}

@keyframes particle-animation-42 {
  100% {
    -webkit-transform: translate3d(80vw, 31vh, 76px);
            transform: translate3d(80vw, 31vh, 76px);
  }
}

.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 60s infinite;
          animation: particle-animation-42 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.1;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  background-color: #3ed926;
  -webkit-transform: translate3d(42vw, 22vh, 73px);
          transform: translate3d(42vw, 22vh, 73px);
}

@-webkit-keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(6vw, 27vh, 10px);
            transform: translate3d(6vw, 27vh, 10px);
  }
}

@keyframes particle-animation-43 {
  100% {
    -webkit-transform: translate3d(6vw, 27vh, 10px);
            transform: translate3d(6vw, 27vh, 10px);
  }
}

.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 60s infinite;
          animation: particle-animation-43 60s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.8;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  background-color: #2626d9;
  -webkit-transform: translate3d(29vw, 11vh, 96px);
          transform: translate3d(29vw, 11vh, 96px);
}

@-webkit-keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(19vw, 40vh, 41px);
            transform: translate3d(19vw, 40vh, 41px);
  }
}

@keyframes particle-animation-44 {
  100% {
    -webkit-transform: translate3d(19vw, 40vh, 41px);
            transform: translate3d(19vw, 40vh, 41px);
  }
}

.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 60s infinite;
          animation: particle-animation-44 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.45;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  background-color: #2653d9;
  -webkit-transform: translate3d(73vw, 16vh, 30px);
          transform: translate3d(73vw, 16vh, 30px);
}

@-webkit-keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(63vw, 76vh, 88px);
            transform: translate3d(63vw, 76vh, 88px);
  }
}

@keyframes particle-animation-45 {
  100% {
    -webkit-transform: translate3d(63vw, 76vh, 88px);
            transform: translate3d(63vw, 76vh, 88px);
  }
}

.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 60s infinite;
          animation: particle-animation-45 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.99;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  background-color: #26d92f;
  -webkit-transform: translate3d(69vw, 35vh, 85px);
          transform: translate3d(69vw, 35vh, 85px);
}

@-webkit-keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(6vw, 73vh, 26px);
            transform: translate3d(6vw, 73vh, 26px);
  }
}

@keyframes particle-animation-46 {
  100% {
    -webkit-transform: translate3d(6vw, 73vh, 26px);
            transform: translate3d(6vw, 73vh, 26px);
  }
}

.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 60s infinite;
          animation: particle-animation-46 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.81;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  background-color: #26d935;
  -webkit-transform: translate3d(22vw, 9vh, 30px);
          transform: translate3d(22vw, 9vh, 30px);
}

@-webkit-keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(13vw, 78vh, 68px);
            transform: translate3d(13vw, 78vh, 68px);
  }
}

@keyframes particle-animation-47 {
  100% {
    -webkit-transform: translate3d(13vw, 78vh, 68px);
            transform: translate3d(13vw, 78vh, 68px);
  }
}

.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 60s infinite;
          animation: particle-animation-47 60s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.08;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  background-color: #26cdd9;
  -webkit-transform: translate3d(87vw, 81vh, 68px);
          transform: translate3d(87vw, 81vh, 68px);
}

@-webkit-keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(74vw, 18vh, 58px);
            transform: translate3d(74vw, 18vh, 58px);
  }
}

@keyframes particle-animation-48 {
  100% {
    -webkit-transform: translate3d(74vw, 18vh, 58px);
            transform: translate3d(74vw, 18vh, 58px);
  }
}

.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 60s infinite;
          animation: particle-animation-48 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.1;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  background-color: #35d926;
  -webkit-transform: translate3d(7vw, 81vh, 29px);
          transform: translate3d(7vw, 81vh, 29px);
}

@-webkit-keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(79vw, 32vh, 73px);
            transform: translate3d(79vw, 32vh, 73px);
  }
}

@keyframes particle-animation-49 {
  100% {
    -webkit-transform: translate3d(79vw, 32vh, 73px);
            transform: translate3d(79vw, 32vh, 73px);
  }
}

.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 60s infinite;
          animation: particle-animation-49 60s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.32;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  background-color: #d9a326;
  -webkit-transform: translate3d(86vw, 4vh, 100px);
          transform: translate3d(86vw, 4vh, 100px);
}

@-webkit-keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(47vw, 42vh, 75px);
            transform: translate3d(47vw, 42vh, 75px);
  }
}

@keyframes particle-animation-50 {
  100% {
    -webkit-transform: translate3d(47vw, 42vh, 75px);
            transform: translate3d(47vw, 42vh, 75px);
  }
}

.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 60s infinite;
          animation: particle-animation-50 60s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.76;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  background-color: #26d94d;
  -webkit-transform: translate3d(51vw, 22vh, 94px);
          transform: translate3d(51vw, 22vh, 94px);
}

.particle {
  position: absolute;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */